html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background:  rgba(245, 199, 255, 0.925);
    min-height: 100vh;
    height: 100%;
    margin: 30;
    position: relative;
    }

    

#sticky-container {
    padding: 1rem;
}

#h1{
    color: rgb(255, 0, 183);
}

.sticky-form{
position: relative;
top: 10rem;
left: 1rem;
}
.sticky-form label,
.sticky-form input,
.sticky-form textarea {
color:  rgb(255, 0, 183);
display: block;
}

.sticky-form input,
.sticky-form textarea {
    background-color: beige;
    background-clip: padding-box;
    border: 2px dashed rgba(0, 0, 0, 0.308);
    border-radius: 0.25rem;
    color: black;
    font-size: medium;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    padding: 0.375rem 0.75rem;
    width: calc(100%-1.5rem);
}
#createbtn,
#clearTrash,
.restorebtn{
    background-color: rgb(252, 96, 226);
    border-radius: 15px;
    border: 8px solid transparent;
    font-weight: bold;
    color: beige;
    display: inline-block;
    user-select: none;
    vertical-align: middle;
}

#createbtn:hover{
    background-color: rgb(255, 0, 183);
    transition: background-color 0.6s;
}


.sticky {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 255, 166, 0.671);
    border: 1px solid rgb(255, 242, 0);
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    hyphens: auto;
}

#stickytext{
    hyphens: auto;
}

.deletesticky{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#trash-container{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 200px;
    height: 200px;
    overflow-y: auto;
    border: 1px dashed  rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(111, 130, 109, 0.626);
}

.trash-content {
    margin-top: 1rem;
}

#trash-container .sticky{
position: static;
width: 120px;
height: auto;
margin-bottom: 5px;
}

/* Сброс стилей при восстановлении */
.sticky:not(.in-trash) {
    position: absolute;
    width: 250px;
    height: 250px;
}

/* Скрываем текст и кнопку удаления в корзине */
#trash-container .sticky p,
#trash-container .sticky .deletesticky {
    display: none !important;
}

/* Уменьшаем размер заметок в корзине */
#trash-container .sticky {
    width: 120px;
    height: 40px ;
    cursor: pointer;
}

/* Стиль для заголовка в корзине */
#trash-container, .sticky, h3 {
    margin: 0;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.drag {
    cursor: move !important;
    user-select: none !important;}

